<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../styles/carousel-1.css">

    <title>Music Videos</title>
</head>
<body>
    <section class="carousel">
        <div class="carousel-container">
            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/54101/magic-cube-cube-puzzle-play-54101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="cubo rubik">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>

            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/1034662/pexels-photo-1034662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="city">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>


            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/415176/pexels-photo-415176.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="guy">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>


            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/2901581/pexels-photo-2901581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="city night">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>


            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/40984/animal-ara-macao-beak-bird-40984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="bird">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>


            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/1573324/pexels-photo-1573324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="cat">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>


            <div class="carousel-item">
                <img class="carousel-item-img" src="https://images.pexels.com/photos/3716087/pexels-photo-3716087.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="extreme sports">
                <div class="carousel-item-details">
                    <img src="images/icons8-play-64.png" alt="play button">
                    <img src="images/icons8-plus-64.png" alt="plus button">
                </div>
                <p class="carousel-item-details-title"> Titulo Descriptivo </p>
                <p class="carousel-item-details-subtitle"> 2019 16+ 114min</p>
            </div>

        </div>
    </section>
</body>
</html>