<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../styles/log.css">
    

    <title>Music Videos</title>
</head>
<body>
    <nav>
        <img src="https://www.morningstarentertainment.net/images/tiles/home-dj.png" alt="logo">
    </nav>

    <section class="login">
        <section class="login-container">
            <h2>Inicio Sesion</h2>
            <form class="login-container-form">
                <input class="input" type="text" placeholder="Correo">
                <input class="input" type="password" placeholder="Contraseña">
                <button class="button">Iniciar Sesion</button>
                <div class="login-container-remember-me">
                    <label>
                        <input type="checkbox" name="" id="cbx1" value="checkbox"> Recuerdame
                    </label>
                    <a href="/">Olvide mi contraseña</a>
                </div>
            </form>
            <section class="login-container-social">
                <div><img src="../images/icons8-google-48.png" alt="google"> Inicia Sesion con Google</div>
                <div><img src="../images/icons8-twitter-50.png" alt="google"> Inicia Sesion con Twitter</div>
            </section>
            <p class="login-container-register"> No tienes ninguna cuenta <a href=""> Registrate </a></p>
        </section>
    </section>

    <footer class="footer">
        <a href=""> Terminos de uso</a>
        <a href=""> Declaracion de Privacidad</a>
        <a href=""> Centro de ayuda</a>
    </footer>
</body>
</html>