<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../styles/nav.css">

    <title>Music Videos</title>
</head>
<body>
    <nav>
        <img src="https://www.morningstarentertainment.net/images/tiles/home-dj.png" alt="logo">

        <div class="menu">
            <div class="menu-profile">
                <img src="../images/icons8-male-user-96.png" alt="user">
                <p> Perfil </p>
            </div>
            <div>
                <ul>
                    <li><a href="">Cuenta</a></li>
                    <li><a href="">Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="search">
        <h2 class="search-title"> Que queres ver hoy? </h2>
        <input class="input" type="text" placeholder="Buscar...">
    </section>
    
</body>
</html>