body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #b80d57;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
}

.login {
    background: linear-gradient(#b80d57, #ffd868);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login-container-form {
    display: flex;
    flex-direction: column;

}

.login-container-form label {
  font-size: 14px;
    
}

.login-container-remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login-container-remember-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login-container-remember-me a:hover{
    text-decoration: underline;
}

.login-container-social > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-container-social img {
   width: 30px;
   margin-right: 10px;
}

.login-container-register {
    font-size: 14px;
}

.login-container-register a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.login-container-register a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgb(255, 255, 255, 0.1);
    border:none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ffd868;
}

.footer a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    padding-left: 30px;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login-container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}